.my-buttin{
    min-width: 120px;
    color: #fff;
    background-color: #006FEE;
    border: none;
    border-radius: 8px;
    height: 34px;
    width: 100px;
    transition: 0.2s;
    margin-right: 20px;
    margin-top: 10px;
}
.my-buttin--lg_primary{
    width: 50px;
    height:  48px;

}

.my-buttin--lg{
    width: 150px;
    height: 48px;
}
.my-buttin--mg{
    width: 120px;
    height: 40px;
}

.my-buttin--primary:hover{
    background-color: #024694;
    transition: 0.2s;
}

.my-buttin--border{
    background-color: #fff;
    border: 1px solid #006FEE;
    color: #006FEE;
    transition: 0.2s;
}

.my-buttin--border:hover{
    transition: 0.2s;
    color: #fff;
    background-color: #006FEE;
}